*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.overall .back .hero-m{
    display: none;
}
.overall .back {
   width:100%;
   position: relative;  
}
.overall .back img{ 
   height: auto; 
   width: 100%;
  
}
.overall .back .hero{
    width: 90%;
    margin: 0 auto;
}
.overall .back .hero .top{
    position: absolute;
    display: flex;
    justify-content:space-between;
    text-align: center;
    top: 50px;
    width: 90%;
    color: white;
}
.all{
    display: none;
}
.overall .back .hero .top .logo{
    font-size: 60px;
    font-weight: bold;   
}
.overall .back .hero .top .menu-icon .menu-line{
    display: none;
    width: 20px;
    height: 3px;
    background: white;
    color: #fff;
    margin-bottom: 4px;
}
.overall .back .hero .top .more{
   display: flex;  
   justify-content: space-between;
   text-align: center;
   padding-top: 1.5rem;
   list-style-type: none;
}
.overall .hero .top .more li a{
    padding-left: 30px;
    color: white;
    font-size: 20px;
    text-decoration: none;
} 

.overall .back .hero .top .same-i{
    display: none;
}
nav ul li{
    position: relative;
}
nav ul li::after{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    width:0;
    height: 2px;
    transform: translate(-50%);
    background: white;
}
nav ul li:hover::after{
    width:20px;
}
 
.overall .back .hero .text{
    position: absolute;
    text-transform: uppercase;
    bottom:10%;
    font-size: 40px;
    color: white;
    border: 2px solid white;
    letter-spacing: 3px;
    line-height:1em;
    padding: 20px 150px 8px 20px;
    width: 19%;

}
/*.white-background .interactive{
    position: relative;
    padding: 0;
    margin-bottom: 30px;
    width: 65%;
    margin: auto;
}
.white-background .interactive .image-i .i-d img{
    display: block;
    
}
.white-background .interactive .subhead{
    object-fit: fit-content;
    position: absolute;
    top:100px;
    left: 55%;
    padding: 95px;
    max-width: 640px;
    background: white;
    width: fit-content; 
}
.white-background .interactive .subhead h1{
    font-size:29px ;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.white-background .interactive .subhead p{
    color: darkgrey;
    line-height: 1.7;
}*/


.white-background .interactive{
    margin: auto;
    padding: 30px;
    margin-top: 3em;
    margin-bottom: 7em;
    position: relative;
}
.white-background .interactive .image-i .i-m{
    display: none;
}
.white-background .interactive .image-i .i-d  {
    width:45%;  
}
.white-background .interactive .subhead{
    width: fit-content; 
    height: 260px;
    position: absolute;
    top:25%;
    left: 35%;
    background-color: white;
    text-align: justify;
    padding: 20px 0px 0px 70px;
  
}
.white-background .interactive .subhead h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 15px;
    line-height: 47px;
    word-spacing: 15px;
    width: 40rem;
}
.white-background .interactive .subhead p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height:1.5em;
    word-spacing: .1px;
    width: 35rem;
    color: darkgrey;
}
.white-background .creation{
    display: flex;
    justify-content: space-between;
    width:90%;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom:50px;
}
.white-background .creation h4{
    font-size: 20px;
}
.white-background .creation h5{
    font-size: 18px;
    letter-spacing: .1rem;
    font-style: italic; 
    word-spacing: 2px;
}
.white-background .creation h5 a{
    border: 1px solid black;
    padding: 10px 5px; 
    color: white;
    text-decoration: none;
    color: black;
}
.white-background .creation h5 a:hover{
    background: black;
    color: white;
}
.m-image{
    display:none;
}
/*.same-m{
    display: none;
    position: relative;
    width: 450px;
}
.same-m img{
    display: none;
    width: 100%;
    height: 100%;
}
.same-m p{
    display: none;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 25%;
}*/
.white-background .d-image{
    width: 95%;
    margin: auto;
}

.d-image .image-1, .d-image .image-2{
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;   
}
.d-image .image-2{
    margin-top: 15px;
}
.d-image .image-1 .same-d,.d-image .image-2 .same-d{
    width: 360px;
    position: relative;
}
.d-image .image-1 .same-d img, .d-image .image-2 .same-d img{
    width: 100%;
}
.same-d p{
    position: absolute;
    bottom: 50px;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    left: 25px;
}
.first-div::after{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(100%, transparent 40%, #000);
}
.first-div:hover::after{
    background: linear-gradient(100%, #fff 40%, #000);
}
.footer{  
    background-color: black;
    width: 100%;
    color: white; 
    margin-top: 5%;
}
.footer .both-footer{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
.footer .both-footer .f-footer{
    padding: 20px 0 20px 0;
}
.footer .both-footer .f-footer h3{
    font-size: 3em;
    padding-bottom: 20px;
}
.footer .both-footer .f-footer ul{ 
    padding-top: 15px;
    display: flex;
    list-style: none;
}
nav ul li{
    position: relative;
}
nav ul li::after{
    content: '';
    position: absolute;
    bottom:-10px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translate(-50%);
    background: black;
}
nav ul li:hover::after{
    width: 25px;
}
.footer .both-footer .s-footer{
    padding: 40px 0 50px 0;
}

.footer .both-footer .s-footer .icon ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 35px;
    text-align: right;
    font-size: 30px;
}

.footer .both-footer a{
    color: white;
    text-decoration: none;
    padding-right:30px ;
}

.copyright{
    font-size: 18px;
}
@media only screen and (max-width:987px){

    .white-background .interactive{
        width: 65%;
        margin: 0 auto;
    }
    .white-background .interactive .image-i .i-d {
       width:100%; 
      
    }
    .white-background .interactive .subhead{
        margin-top: 5%;
        max-width: 100%;
        position: static;
        text-align: center;
        padding: 0 55px;
    }
    .white-background .interactive{ 
        margin-top: 3em;
        margin-bottom: 0em;   
    }
    .white-background .creation{  
        margin-top: 20px;
        margin-bottom:50px;
    }
}

@media only screen and (max-width:875px){

    .overall .back .hero nav{ 
        display: flex;
       
        width: 90%;
        position: absolute;
    }
    .exit-icon{
        display: none;
    }
   .overall .back .hero .top .logo{
        font-size: 40px;
        font-weight: bold; 
        left: 0rem;  
    }
    .overall .back .hero .top .menu-icon{
        display: block;
        position: absolute;
        top:1em;
        left: 32rem;
    }
    .overall .back .hero .top .menu-icon .menu-line{
        display: block;
    }
    .overall .back .hero .top .more{
       display: flex; 
       flex-direction: column; 
       text-align: center;
       padding-top: 1.5rem;
       list-style-type: none;
    }
    .overall .hero .top .more li a{
        padding-left: 30px;
        color: white;
        font-size: 20px;
        text-decoration: none;
    } 
    
    .overall .back .hero .top .same-i{
        display: block;
    }
    nav ul li{
        position: relative;
    }
    nav ul li::after{
        content: '';
        position: absolute;
        bottom: 10px;
        left: 50%;
        width:0;
        height: 2px;
        transform: translate(-50%);
        background: white;
    }
    nav ul li:hover::after{
        width:20px;
    }*/
     
     .overall .back .hero .top .menu-icon .menu-line{
        display: block;
        width: 20px;
        height: 3px;
        background: white;
        color: #fff;
        margin-bottom: 4px;
    }
    /*.overall .back .hero .top ul, #arrange{
       display: none;
       width:100%;
       background-color: #000;
       color: white;
       border: 2px solid black;
       height: 100vh;
       padding: 2rem 3rem;
       position: fixed;
       text-align: center;
    }
    #arrange{
        display: flex;
        flex-direction: column;
    }
    .overall .hero .top .more li a{
        padding-left: 30px;
        color: white;
        font-size: 20px;
        text-decoration: none;
    } 
    
    .overall .back .hero .top .exit-icon{
        display: none;
        font-size: 1rem;
        cursor: pointer;
        padding-top: 30px;
    }
    .overall .back .hero .top .menu-icon, #menu-cta{
        display: block;
        cursor: pointer;
        padding-top: 30px;
    }
    nav ul li{
        position: relative;*/
    }
    nav ul li::after{
        content: '';
        position: absolute;
        bottom: 10px;
        left: 50%;
        width:0;
        height: 2px;
        transform: translate(-50%);
        background: white;
    }
    nav ul li:hover::after{
        width:20px;
    }
     
    .overall .back .hero .text{
        position: absolute;
        text-transform: uppercase;
        bottom:10%;
        font-size:30px;
        color: white;
        border: 2px solid white;
        letter-spacing: 3px;
        line-height:1em;
        padding: 20px 150px 8px 20px;
        width: 19%;
    }
    .white-background .interactive .subhead{
        margin-top: 5%;
        max-width: 100%;
        position: static;
        text-align: center;
        padding: 0px;
        margin-left: -50px;
    }
    .white-background .interactive{ 
        margin-top: 3em;
        margin-bottom: 0em;   
    }
    .white-background .creation{  
        margin-top: 20px;
        margin-bottom:50px;
    }
    .copyright{
        font-size: 12px;
    }

@media only screen and (max-width:693px){
    .overall .back .hero .top{
        position: absolute;
        top: 35px;
    }
    .overall .back .hero .top .logo{
        font-size: 40px;  
    }
    .overall .back .hero .text{
        font-size:25px;
        border: 3px solid white;
        line-height:1em;
        padding: 20px 150px 8px 20px;
        width: 19%;
    }
    .white-background .interactive .subhead{
        margin-left: -100px;
    }
    .footer .both-footer .f-footer{
        padding: 20px 0 20px 0;
    }
    .footer .both-footer .f-footer h3{
        font-size: 2em;
        padding-bottom: 15px;
    }
    .footer .both-footer .f-footer ul{ 
        padding-top: 15px;
    }
    nav ul li{
        position: relative;
    }
   
  
    .footer .both-footer .s-footer .icon ul{
        padding-bottom: 20px;
        font-size: 25px;
    }
    
    .footer .both-footer a{
        padding-right:10px ;
    }
    
    .copyright{
        font-size: 12px;
    }
    .same-d p{
        font-size: 17px;
    }
}

@media only screen and (max-width:581px){
    .overall .back .hero-d{
        display: none;
    }
    .overall .back .hero-m{
        display: block;
        height: 20%;
    }
    .overall .back {
       width:100%;
       position: relative;  
    }
    .overall .back img{ 
       height: auto; 
       width: 100%;
      
    }
    .overall .back .hero{
        width: 90%;
        margin: 0 auto;
    } 
    .overall .back .hero .text{
        position: absolute; 
        bottom:26%;
        font-size: 40px;
        border: 3px solid white;
        padding: 20px 150px 8px 20px;
        width: 40%;
    
    }
    .white-background .interactive{ 
        margin-top: 3em;
        margin-bottom: 0em;   
    }
  
   
    .white-background .interactive .image-i .i-d{
        display: none;
    }
    .white-background .interactive .image-i .i-m  {
       display: block;
    }
    
    .white-background .interactive{
        width: 90%;
        margin: 0 auto;
    }
    .white-background .interactive .image-i .i-m {
       width:100%; 
    }
    .white-background .interactive .subhead{
        margin-top: 5%;
        width: 50%;
        position: static;
        text-align: center;
        padding-left: 0px;
        margin-left: 30px;
    }
    .white-background .interactive .subhead h1{
        font-size: 30px;
        margin-left: -150px;
    }
    .white-background .interactive .subhead p{ 
        font-size: 13px;
        width: 20rem;
        text-align: center;
        margin-left: 0px;
        padding-left: 0px;
    }
    .white-background .creation, .all{
        display: block;
        width:40%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10%;
        margin-bottom:50px;
    }
    .white-background .creation h4{
        font-size: 20px;
    }
    .white-background .creation h5{
        display: none;
    }
    .white-background .all {
        font-size: 18px;
        letter-spacing: .1rem;
        font-style: italic; 
        word-spacing: 2px;
    }
    .white-background h5 a{
        border: 1px solid black;
        padding: 10px 5px; 
        color: white;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
    h5 a:hover{
        background-color: black;
        color: white; 
    }
    .white-background .d-image{
        display:none;
    }
   
    .white-background .m-image{
        display: block;
        width: 85%;
        margin: 0 auto;
        gap: 20px; 
    }
    .m-image .same-m{
        position: relative;
    }
    .m-image .same-m img{
        width: 100%;
    }
    .same-m p{
        position: absolute;
        bottom: 20%;
        font-size: 25px;
        text-transform: uppercase;
        color: white;
        left: 25px;
    }
    .same-m::after{
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(100%, transparent 40%, #000);
    }
    .first-div:hover::after{
        background: linear-gradient(100%, #fff 40%, #000);
    }
    .footer{  
        background-color: black;
        width: 100%;
        color: white; 
        margin-top: 5%;
    }
    .footer .both-footer{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        padding: 0;
    }
    .footer .both-footer .f-footer{
        padding-top: 10%;
    }
    .footer .both-footer .f-footer h3{
        font-size: 3em;
        padding-bottom: 0px;
    }
    .footer .both-footer .f-footer ul{ 
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-items: center;
        list-style: none;
    }
    .footer .both-footer .f-footer ul li a{
        padding-top: 10px;
    }
    nav ul li{
        position: relative;
    }
    nav ul li::after{
        content: '';
        position: absolute;
        bottom:-10px;
        left: 50%;
        width: 0;
        height: 2px;
        transform: translate(-50%);
        background: black;
    }
    nav ul li:hover::after{
        width: 25px;
    }
    .footer .both-footer .s-footer{
        padding: 40px 0 50px 0;
    }
    .footer .both-footer .s-footer .icon ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-bottom: 35px;
        font-size: 20px;
        padding-left:50px ;
    }  
    .footer .both-footer a{
        color: white;
        text-decoration: none;
        padding-right:30px ;
    }
    
    .copyright{
        font-size: 12px;
    }
}
@media only screen and (max-width:370px){
    .white-background .interactive .subhead{
        margin-top: 5%;
        width: 60%;
        position: static;
        text-align: center;
        padding-left: 0px;
        margin-left: 0px;
    }
    .white-background .interactive .subhead h1{
        font-size: 30px;
        margin-left: -160px;
    }
    .white-background .interactive .subhead p{ 
        font-size: 13px;
        width: 20rem;
        text-align: center;
        margin-left: 0px;
        padding-left: 0px;
    }
    .white-background .creation{
        display: block;
        width:70%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10%;
        margin-bottom:50px;
    }
    .overall .back .hero .text{
        bottom:10%;
        font-size: 25px;
        width: 25%;
    }
    .subhead h1{
        font-size: 22px;
    }
    .footer .both-footer .f-footer h3{
        font-size: 35px;
    }
}
@media only screen and (max-width:355px){
    .white-background .interactive .subhead{
        margin-top: 5%;
        width: 50%;
        padding-left: 0px;
        margin-left: 0px;
    }
    .white-background .interactive .subhead h1{
        font-size: 25px;
        margin-left: -170px;
        word-spacing: 1px;
    }
    .white-background .interactive .subhead p{ 
        font-size: 10px;
        width: 17rem;
        text-align: center;
        margin-left: 0px;
        padding-left: 0px;
    }
}


